.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 28px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: calc(100% - 32px);
  }
}
