.footer__copyright {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: left;
  }
}
