.place__url-heading {
  color: #aaa;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 12px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin-left: 16px;
  }
}
